.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:999;
}

.modal-box {
  background:rgb(255, 255, 255);
  padding:25px;
  border-radius:12px;
  min-width:300px;
  text-align:center;
}

.modal-box.danger h2 {
  color:#e53935;
}

.danger-name {
  font-weight:bold;
  color:#e53935;
}

.modal-actions {
  margin-top:20px;
  display:flex;
  justify-content:space-between;
}

.btn {
  padding:10px 16px;
  border-radius:8px;
  border:none;
  cursor:pointer;
}

.btn.cancel { background:#eee; }
.btn.delete { background:#e53935; color:white; }

.text{
  color: black;
}