/* GoogleButton.css */
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.2s, background-color 0.2s;
  color: #3c4043;
  margin: 10px auto 0 auto;
  width: 300px;
}

.google-btn:hover {
  box-shadow: 0 1px 3px rgba(60,64,67,0.3),
              0 4px 8px rgba(60,64,67,0.15);
  background-color: #c6e2fe;
}
.google-btn:active{
  transform: translateY(-1px);
}


.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
